<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand me-0" href="#">
      <img src="./images/logo-black.svg" alt="" />
    </a>
    <div class="d-xl-none d-flex align-items-center">
      <a href="" class="btn"
        ><span class="material-symbols-rounded">shopping_cart</span></a
      >
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav gap-4 ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Payment Plans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Customer Ideas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="#">Generator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Arts (2)</a>
        </li>
        <li class="nav-item d-xl-inline-flex d-none">
          <a class="nav-link" href="#">
            <span class="material-symbols-rounded">shopping_cart</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
