<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="text-center">
        <h4 class="section-title text-primary">
          Need some advice to make it fit to your own house?
        </h4>
        <p>
          Take a look at our Blog, where we share 11 tips to help you design
          your canvas according to your own house.
        </p>
        <img src="./images/advice.webp" class="w-100 my-6 rounded" height="378" alt="" />
        <a href="" class="btn btn-primary">Check it Out</a>
      </div>
    </div>
  </div>
</div>
