<div class="container">
    <div class="row g-4">
      <div class="col-lg-4 col-md-6">
        <div class="review-box">
          <img src="./images/reviews/review_ (1).jpg" alt="" />
          <div class="stars">
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="review-box">
          <img src="./images/reviews/review_ (2).jpg" alt="" />
          <div class="stars">
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="review-box">
          <img src="./images/reviews/review_ (3).jpg" alt="" />
          <div class="stars">
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="review-box">
          <img src="./images/reviews/review_ (4).jpg" alt="" />
          <div class="stars">
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="review-box">
          <img src="./images/reviews/review_ (5).jpg" alt="" />
          <div class="stars">
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="review-box">
          <img src="./images/reviews/review_ (6).jpg" alt="" />
          <div class="stars">
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
            <span class="material-symbols-rounded fill text-warning"
              >kid_star</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <a href="./reviews.html" class="btn btn-light">See More</a>
    </div>
  </div>