<div class="container">
  <div class="main-box">
    <div class="row align-items-center g-0">
      <div class="col-lg-6">
        <div class="text-box">
          <h3 class="section-title text-primary">
            Don't know <br />
            what image to design?
          </h3>
          <p class="my-lg-6 my-4">
            Take a look at our customer result! You can either take inspiration
            from them, or steal their exact idea!
          </p>
          <a href="" class="btn btn-outline-primary"
            >Check it Out <span class="material-symbols-rounded">arrow_forward</span></a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <img src="./images/what-create.webp" alt="" />
      </div>
    </div>
  </div>
</div>
