<div class="container">
  <div class="text-center">
    <h3 class="section-title mb-lg-6 mb-4">Why Choose Us?</h3>
    <div class="row mb-lg-9 mb-6">
      <div class="col-md-8 mx-auto">
        <p class="punch">
          Transform your idea into a captivating visual without any skills
          required, thanks to our advanced AI technology! 
        </p>
      </div>
    </div>
  </div>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="box">
        <img
          src="./images/icons/solar_globus-bold-duotone.svg"
          height="48"
          class="mb-6"
          alt=""
        />
        <h5 class="sub-heading mb-2">Free US Shipping</h5>
        <p class="mb-0">save on average $55</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <img
          src="./images/icons/solar_crown-star-bold-duotone.svg"
          height="48"
          class="mb-6"
          alt=""
        />
        <h5 class="sub-heading mb-2">No Designer Cost</h5>
        <p class="mb-0">save $1000s</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <img
          src="./images/icons/solar_shield-check-bold-duotone.svg"
          height="48"
          class="mb-6"
          alt=""
        />
        <h5 class="sub-heading mb-2">Money Back Guarantee</h5>
        <a href="" class="mb-0">See Terms & Conditions</a>
      </div>
    </div>
  </div>
</div>
